<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <!-- 实体类,简称 -设置别名 -->
    <typeAliases>
        <typeAlias alias="Account" type="mavenTest.pojo.Account" />
        <typeAlias alias="Order" type="mavenTest.pojo.Order" />
        <typeAlias alias="User" type="mavenTest.pojo.User" />
    </typeAliases>
    <!-- 实体接口映射文件 -->
    <mappers>
        <mapper resource="mapper/accountMapper.xml" />
        <mapper resource="mapper/orderMapper.xml" />
        <mapper resource="mapper/userMapper.xml" />
    </mappers>

</configuration>
